<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        input{
            display: block;
        }
    </style>
</head>
<body>
    <form action="">
        <input type="text" id="user_name" placeholder="input name">
        <input type="password" id="user_pwd" placeholder="input pwd">
        <button class="login">로그인</button>
        <button class="update">수정</button>
        <button class="getData">localStorage GET</button>
        <button class="delData">localStorage DELETE</button>
    </form>

    <script>
        const form = document.querySelector('form');
        form.addEventListener('submit', (event)=>{
            event.preventDefault();
        })

        const login_btn = document.querySelector('.login');
        login_btn.addEventListener('click', ()=>{
            const input = document.querySelector('#user_name');
            const pwd = document.querySelector('#user_pwd');
            console.log(input.value, pwd.value);
            // localhost:4500/login
            // 입력된 데이터 확인

            const  user = {name : input.value, pwd : pwd.value};
            
            localStorage.setItem("login", JSON.stringify(user)); // 값을 저장할땐 setItem
        })

        const update_btn = document.querySelector('.update');
        update_btn.addEventListener('click', ()=>{
            const name = document.querySelector('#user_name');
            const pwd = document.querySelector('#user_pwd');

            const get_user = JSON.parse(localStorage.getItem('login'));
            get_user.pwd = pwd.value;

            localStorage.setItem('login', JSON.stringify(get_user))
        });

        const get_btn = document.querySelector('.getData');
        get_btn.addEventListener('click', ()=>{
            console.log(JSON.parse(localStorage.getItem('login'))); // 값을 불러올땐 getItem
        });
        const del_btn = document.querySelector('.delData');
        del_btn.addEventListener('click', ()=>{
            console.log(JSON.parse(localStorage.removeItem('login'))); // 값을 지울땐 removeItem
        });
    </script>
    <!-- 
        localStorage : 값을 공유
        sessionStorage : 탭이 다르면 값의 공유 불가
        cookie
    -->
</body>
</html>